.list-group-item-action {
  color: var(--text-secondary);
  background-color: transparent;
  border-color: var(--bs-border-color, #333);
}

.list-group-item-action:hover,
.list-group-item-action:focus {
  color: var(--text-primary);
  background-color: var(--surface-color-light);
}

.list-group-item-action.active {
  color: var(--bs-primary-dark);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  font-weight: bold;
}
